<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header"><%= @schedule.user.name %>'s <%= @schedule.semester.name %> Semester</h1>
      <%= link_to 'Delete', schedule_path, class: 'btn btn-danger',
            method: 'delete', data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <% @schedule.courses.each do |c| %>
        <h3><%= c.number %>.<%= c.section %></h3>
        <h4><%= c.name %></h4>
        <table class="table">

          <tr>
            <th>Credits</th>
            <td><%= c.credits %> credits</td>
          </tr>

          <tr>
            <th>Time</th>
            <% if c.start_time %>
              <td><%= c.days %> <%= time c.start_time %> to <%= time c.end_time %></td>
            <% else %>
              <td>Online</td>
            <% end %>
          </tr>

          <tr>
            <th>Room</th>
            <td>
              <% if c.room_link %>
                <%= link_to c.room, c.room_link, target: '_blank' %>
              <% else %>
                <%= c.room %>
              <% end %>
            </td>
          </tr>

          <tr>
            <th>Instructor</th>
            <td><%= c.instructor %></td>
          </tr>

          <tr>
            <th>Friends</th>
            <td>
              <% friends = c.friends_enrolled(current_user) %>
              <p>
                <%= pluralize c.friends_enrolled(current_user).length, 'friend' %> enrolled
              </p>
              <% friends.each do |friend| %>
                <a href="<%= user_path(friend) %>">
                  <img src="<%= friend.image %>" data-toggle="tooltip" title="<%= friend.name %>" class="img-rounded" />
                </a>
              <% end %>
            </td>
          </tr>

        </table>
      <% end %>
    </div>

    <div class="col-md-6">
      <h2>Schedule</h2>
      <table class="table">
        <% @schedule.agenda.each do |day, courses| %>
          <tr>
            <th><%= day %></th>
            <td>
              <% courses.each do |course| %>
                <p><h4><%= course.name %></h4></p>
                <% if course.start_time %>
                  <p><%= time course.start_time %> to <%= time course.end_time %></p>
                <% else %>
                  <p>Online</p>
                <% end %>
              <% end %>

              <% unless courses.length > 0 %>
                <p>No courses on <%= day %>.</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
