<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header"><%= @schedule.semester.name %> Semester</h1>
      <% @schedule.courses.each do |c| %>
        <h3><%= c.number %>.<%= c.section %> - <%= c.name %></h3>
        <p><%= c.credits %> credits</p>
        <% if c.start_time %>
          <p><%= c.days %> <%= time c.start_time %> to <%= time c.end_time %></p>
        <% else %>
          <p>Online</p>
        <% end %>
        <p><%= c.room %></p>
        <p><%= c.instructor %></p>
      <% end %>
    </div>
  </div>
</div>
