<!DOCTYPE html>
<html>
<head>
  <title>ClassTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<% if flash[:error] %>
  <div class="alert">
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<%= yield %>

</body>
</html>
